<main>

    <h1 class="text-white text-center text-5xl mt-4 mb-4">Популярное</h1>
    <section class="flex_book">
        <div class="img_book img_book_h"></div>
        <div class="img_book1 img_book_h"></div>
        <div class="img_book2 img_book_h"></div>
        <div class="img_book3 img_book_h"></div>
        <div class="img_book4 img_book_h"></div>
    </section>

    <h1 class="text-white text-center text-5xl mt-4 mb-4">Жанры</h1>

    <section class="flex_genres">

        <div class="genres" id="one_img_fon"><span class="text">Детектив</span></div>

        <div class="genres" id="two_img_fon"><span class="text">dsa</span></div>

        <div class="genres" id="three_img_fon"><span class="text">dsa</span></div>

        <div class="genres" id="four_img_fon"><span class="text">dsa</span></div>

        <div class="genres" id="five_img_fon"><span class="text">dsa</span></div>

        <div class="genres" id="six_img_fon"><span class="text">dsa</span></div>


    </section>

</main>
