<div class="body">

<h1 class="title">Контакты библиотеки</h1>
    <div class="contacts">
      <div class="contact-info">
        <h2>Наши контакты</h2>
        <p><strong>Адрес:</strong> г. Москва, ул. Ленина, 123</p>
        <p><strong>Телефон:</strong> <a href="tel:+74951234567">+7 (495) 123-45-67</a></p>
        <p><strong>Email:</strong> <a href="mailto:info@library.ru">info  gmail.ru</a></p>
        <p><strong>График работы:</strong> Пн-Пт: 9:00 - 18:00, Сб-Вс: выходной</p>
      </div>
      <div class="feedback-form">
        <h2>Форма обратной связи</h2>
        <form action="#" method="post">
          <label for="name">Ваше имя:</label>
          <input type="text" id="name" name="name" placeholder="Введите ваше имя" required>

          <label for="email">Ваш email:</label>
          <input type="email" id="email" name="email" placeholder="Введите ваш email" required>

          <label for="message">Сообщение:</label>
          <textarea id="message" name="message" placeholder="Введите ваше сообщение" rows="5" required></textarea>

          <button type="submit">Отправить</button>
        </form>
      </div>
    </div>

</div>